<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Garmrazvitie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Главная
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Обо мне</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Услуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container" style="margin-top: 70px;">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">Современный ритм жизни: в чем опасность для детей?</h1>

      <!-- Author -->
      <p class="lead">
        by
        <a href="#">Olga Ilina</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>Опубликовано on January 1, 2019 at 12:00 PM</p>

      <hr>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="../assets/img/thumb_1448762127-f7640c0a29.960(1).jpg" alt="">

      <hr>

      <!-- Post Content -->
      <p class="text-right font-italic">«Festina lente» («Спеши медленно»)</p>
      <p class="text-right font-italic">Октавиан Август</p>
      <p class="lead">Наши дети довольно часто слышат фразы: «Быстрее!», «Ну, что ты копаешься так долго?», «Под ноги смотри, а не по сторонам!», «Успокойся немедленно!». Нас удивляет, что именно можно рассматривать так долго на одной и той же картинке?! Нервирует «бесполезность» детских действий, особенно, когда мы уставшие и так хочется быстрее домой</p>

      <p>Сегодня скорость – это условие успеха, достижение наилучшей эффективности. Жить на максимальных оборотах и показывать наивысшие результаты требует от нас ускоряющийся темп жизни, установки общества. Зачастую мы требуем и от детей, чтобы те двигались быстрее, только ради синхронности. </p>

      <p class="font-italic font-weight-bold">Находясь в плену бесконечной суматохи, мы не присутствуем в жизни, а лишь скользим по её поверхности. В состоянии суеты теряется ощущение радости, удовлетворения. </p>

     <!--  <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in
          <cite title="Source Title">Source Title</cite>
        </footer>
      </blockquote>-->

      <p>А вот жить со скоростью ребёнка означает наслаждаться процессом, успевать замечать всё вокруг, удивляться простым вещам.</p>

      <span>Рассказ одной мамы:</span>
      <p class="font-italic">«Дорога до бабушки занимает у нас не более 20 минут. Маршрут известный, но сегодня мы не летим со скоростью спешащей, планирующей мамы. Бегом. Когда нет времени на отвлечения, разговоры, когда нет возможности даже услышать голос собственного ребёнка в городском шуме. Сегодня мы идём с его скоростью. Это в два раза больше времени на дорогу. Но это ценное время! Андрюшка останавливается и находит что-то новое. Он готов рассмотреть каждого встречающегося на пути жучка или муравья, удивляться снова и снова одуванчикам, успевает заметить цвет неба, разглядеть и пересчитать встречающиеся марки машин. А песочница рядом с домом бабушки – место, где он может быть часами!». </p>

      <p class="font-italic font-weight-bold">Что происходит с детьми, которых постоянно подгоняют? </p>

      <p>У них вырабатывается нечувствительность к тому, что им говорят. Многие дети становятся беспокойными, быстрее устают. Постоянно подгоняя детей, мы приучаем их действовать автоматически, причем не только физически, но
        и умственно, лишая их мыслить и вырабатывать собственное мнение. Получается, что собственное «Я» не формируется, не успевает созревать. </p>
      <p>Важно давать ребёнку возможность осознать свои переживания, придумать что-то новое, вдоволь наиграться. Позволяя ребёнку жить в своём ритме, мы показываем, что уважаем его именно таким, какой он есть.</p>
      <p class="font-italic font-weight-bold">Психофизиологи считают, что жить вопреки естественным ритмам однозначно вредно.</p>
      <p>Биоритмы живых организмов формировались миллионы лет. А колоссальный сдвиг в нашем образе жизни произошёл в последние полвека. И у нас просто нет физиологических ресурсов, чтобы обеспечить нормальное существование в таком режиме. Результат – ожирение, нервные расстройства, гипертония, диабет. Причины этих и других проблем медики видят в рассинхронизации с нашим естественным ритмом. </p> 
      <p>Постоянный поток информации, необходимость делать несколько дел одновременно, и всё на скорости, быстрее.. В итоге мы неспособны расслабиться. И гормоны стресса – кортизол, катехоламины, в том числе адреналин – вырабатываются не тогда, когда они нам остро необходимы, а всё время.</p>         
      <p>У каждого ребёнка есть свой ритм. Его нужно уловить, чувствовать. Нам важно быть не заботливыми, опекающими родителями, а достаточно чуткими. Распознавать желания и потребности детей своевременно. </p>
      <p>Немецкий педиатр <span class="font-weight-bold">Теодор Хелльбрюгге</span> и его коллеги описали биопсихологические ритмы детей. Благодаря исследованиям стало понятно, что в начальных классах учебная деятельность эффективна около трёх с половиной часов в день. А в средней школе она возрастает до четырёх с половиной часов. Есть пики активности школьников. И опытные учителя знают, что наилучшие результаты класс показывает на втором-третьем уроке.</p> 
      <p>Не торопите детей быстрее делать уроки, немедленно вставать, когда звонит будильник, быстро вспомнить стих. Иногда они просто не могут физиологически это сделать.</p>
      <p>Возможно, детская неторопливость кажется нам тихой забастовкой, но она вполне может стать для нас хорошим уроком. Что есть важные вещи, которые каждый человек должен делать в своём темпе. Например, спокойно одеваться, вдумчиво читать, с удовольствием завтракать. </p>
      <p>Чтобы услышать себя, понять своего ребёнка нужно замедлиться, вернуть собственный ритм. Находите несколько часов для «медленных занятий». Это может быть прогулка в парке, совместное чтение, рисование, прослушивание музыки. Успевайте осознавать жизнь! </p>
      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Комментарии:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Имя комментирующего</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>

      <!-- Comment with nested comments -->
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">Имя комментирующего</h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Имя комментирующего</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

          <div class="media mt-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Имя комментирующего</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Поиск</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Найти</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Категории</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Материнство</a>
                </li>
                <li>
                  <a href="#">Дети и родители</a>
                </li>
                <li>
                  <a href="#">Психологическая помощь</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Обучение</a>
                </li>
                <li>
                  <a href="#">Тесты</a>
                </li>
                <li>
                  <a href="#">Материалы</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Виджеты</h5>
        <div class="card-body">
          You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Garmrazvitie 2019</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
